<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RtmpServerMapper">
    
    <resultMap type="RtmpServer" id="RtmpServerResult">
        <result property="id"    column="id"    />
        <result property="serverAddress"    column="server_address"    />
        <result property="isUsed"    column="is_used"    />
        <result property="flag"    column="flag"    />
    </resultMap>

    <sql id="selectRtmpServerVo">
        select id, server_address, is_used, flag from rtmp_server
    </sql>

    <select id="selectRtmpServerList" parameterType="RtmpServer" resultMap="RtmpServerResult">
        <include refid="selectRtmpServerVo"/>
        <where>  
            <if test="serverAddress != null  and serverAddress != ''"> and server_address = #{serverAddress}</if>
            <if test="isUsed != null  and isUsed != ''"> and is_used = #{isUsed}</if>
            <if test="flag != null  and flag != ''"> and flag = #{flag}</if>
        </where>
    </select>
    
    <select id="selectRtmpServerById" parameterType="Long" resultMap="RtmpServerResult">
        <include refid="selectRtmpServerVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRtmpServer" parameterType="RtmpServer">
        insert into rtmp_server
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="serverAddress != null  and serverAddress != ''">server_address,</if>
            <if test="isUsed != null  and isUsed != ''">is_used,</if>
            <if test="flag != null  and flag != ''">flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="serverAddress != null  and serverAddress != ''">#{serverAddress},</if>
            <if test="isUsed != null  and isUsed != ''">#{isUsed},</if>
            <if test="flag != null  and flag != ''">#{flag},</if>
         </trim>
    </insert>

    <update id="updateRtmpServer" parameterType="RtmpServer">
        update rtmp_server
        <trim prefix="SET" suffixOverrides=",">
            <if test="serverAddress != null  and serverAddress != ''">server_address = #{serverAddress},</if>
            <if test="isUsed != null  and isUsed != ''">is_used = #{isUsed},</if>
            <if test="flag != null  and flag != ''">flag = #{flag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRtmpServerById" parameterType="Long">
        delete from rtmp_server where id = #{id}
    </delete>

    <delete id="deleteRtmpServerByIds" parameterType="String">
        delete from rtmp_server where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>